<div>
  <h1>Кандидати: </h1>
  <table class="table">
    <thead>
      <tr>
        <th>
          Пореден номер
        </th>
        <th>
          Име
        </th>
        <th>
          Отдел
        </th>
        <th>
          Образование
        </th>
        <th>
          Точки
        </th>
        <th>
          Дата на раждане
        </th>
        <th>
          КОД
        </th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let user of users">

    

        <td>
          {{user.id}}
        </td>

        <td>
          {{user.fullName}}
        </td>

        <td>
          {{user.departmentName}}
        </td>

        <td>
          {{user.education}}
        </td>

        <td>
          {{user.score}}
        </td>

        <td>
          {{user.birthDate}}
        </td>

        <td>
          {{user.code}}

        </td>
      </tr>

    </tbody>
  </table>


</div>
