@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EVN Opened Possition</h1>
    <p>Learn about <a asp-controller="Home" asp-action="addUser">Add new candidate</a>.</p>
    <p>Look  <a asp-controller="Home" asp-action="allUser">All Candidates</a>.</p>
</div>
