@model ex.Models.Binding.FilterDto


<div>


<h1>Сортирай по: </h1>

<form asp-controller="Candidate" asp-action="sort" method="post">

    <div class="form-group">
        <label>Пореден Номер:</label>
      
        <select asp-for="IdSort">
           <option>Избери</option>
            <option value="0">Възходящо</option>
            <option value="1">Низходящо</option>
        </select>
    </div>

    <div class="form-group">
        <label>Име:</label>
        <input asp-for="Name" placeholder="Candidate Name..." />
        <select asp-for="NameSort">
            <option>Избери</option>
            <option value="0">Възходящо</option>
            <option value="1">Низходящо</option>
        </select>
    </div>

    <div class="form-group">
        <label>Отдел:</label>
        <select asp-for="Department">
            <option >Select Deaprtment...</option>
            @foreach (var department in Enum.GetValues<ex.Models.Enums.DepartmentEnum>())
            {
                <option label="@department" value="@department.ToString()"></option>
            }
        </select>
        <select asp-for="DeprtmentSort">
            <option>Избери</option>
            <option value="0">Възходящо</option>
            <option value="1">Низходящо</option>
        </select>
    </div>
    <div class="form-group">
        <label>Образование:</label>
        <input asp-for="Education" placeholder="Education..." />
        <select asp-for="EdicationSort">
            <option>Избери</option>
            <option value="0">Възходящо</option>
            <option value="1">Низходящо</option>
        </select>
    </div>
    <div class="form-group">
        <label>Точки:</label>
        <input asp-for="Score" placeholder="Score..." />
        <select asp-for="arrowScore">
            <option>Текущ</option>
            <option value="0">Под</option>
            <option value="1">Над</option>
        </select>
        <select asp-for="ScoreSort">
            <option>Избери</option>
            <option value="0">Възходящо</option>
            <option value="1">Низходящо</option>
        </select>
    </div>
    <div class="form-group">
        <label >Година на раждане:</label>
        <input asp-for="BirthYaer"  placeholder="Year of Birth" />
        <select asp-for="arrowBirth">
            <option >Текущата</option>
            <option value="0">Преди</option>
            <option value="1">След</option>
        </select>
        <select asp-for="BirthYearSort">
            <option>Избери</option>
            <option value="0">Възходящо</option>
            <option value="1">Низходящо</option>
        </select>
    </div>
    <input type="submit" value="Сортирай">

</form>
</div>

