<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
<h1>Login</h1>
            <form [formGroup]= "loginForm" (submit)="onLogin()">
            <div class="form-group">
              <label  class="form-label">Username</label>
              <input type="text" class="form-control" formControlName="username">
                     </div>
            <div *ngIf="username"  class="alert alert-danger">Username required
            </div>
            <div class="form-group">
                <label class="form-label">Password</label>
                <input type="password==null" class="form-control" formControllName="password">
            </div>
            <div *ngIf="!password"  class="alert alert-danger">Password is required</div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
</div>