<div>

  <div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Filter By
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <app-filter></app-filter>
    </ul>
  </div>

  <div class="nav-item dropdown">

    <a class="navbar-brand" href="/">Clear All</a>
  </div>
    <h1>Кандидати: </h1>
    <table class="table table-dark table-sm">
      <thead>
        <tr>
          <th>
            Пореден номер
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <a class="btn btn-primary active" href="/?query=sort%20id%20asc"> ↑ </a>
            <a class="btn btn-primary active" href="/?query=sort%20id%20desc">↓</a>
            </div>
          </th>
          <th>
            Име
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
              <a class="btn btn-primary active" href="/?query=sort%20name%20asc"> ↑ </a>
              <a class="btn btn-primary active" href="/?query=sort%20name%20desc">↓</a>
              </div>
          </th>
          <th>
            Отдел
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
              <a class="btn btn-primary active" href="/?query=sort%20department%20asc"> ↑ </a>
              <a class="btn btn-primary active" href="/?query=sort%20department%20desc">↓</a>
              </div>
          </th>
          <th>
            Образование
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
              <a class="btn btn-primary active" href="/?query=sort%20education%20asc"> ↑ </a>
              <a class="btn btn-primary active" href="/?query=sort%20education%20desc">↓</a>
              </div>
          </th>
          <th>
            Точки
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
              <a class="btn btn-primary active" href="/?query=sort%20score%20asc"> ↑ </a>
              <a class="btn btn-primary active" href="/?query=sort%20score%20desc">↓</a>
              </div>
          </th>
          <th>
            Дата на раждане
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
              <a class="btn btn-primary active" href="/?query=sort%20birthyear%20asc"> ↑ </a>
              <a class="btn btn-primary active" href="/?query=sort%20birthyear%20desc">↓</a>
              </div>
          </th>
          <th>
            КОД

          </th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let user of users">



          <td>
            {{user.id}}
          </td>

          <td>
            {{user.fullName}}
          </td>

          <td>
            {{user.departmentName}}
          </td>

          <td>
            {{user.education}}
          </td>

          <td>
            {{user.score}}
          </td>

          <td>
            {{user.birthDate}}
          </td>

          <td>
            {{user.code}}

          </td>
        </tr>

      </tbody>
    </table>


  </div>

