<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GitApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                @*<a  class="btn btn-lg text-white" asp-area="" asp-controller="Home" asp-action="Index">Git</a>*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown mx-2">
                            <a class="nav-link btn-lg" href="#" id="nav-inner-primary_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Git</a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="nav-inner-primary_dropdown_1">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Repository" asp-action="All">Repositores</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Commit" asp-action="All">Commits</a>
                            </div>
                        </li>
                    </ul>

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="LogIn">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Register">Regster</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="LogOut">LogOut</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="bubbles d-none d-md-block">
            <!-- 				bubbles -->
            <div class="bubble bubble-1 rotate-bubble bg-warning"></div>
            <div class="bubble bubble-2 bubble-bottom-right bg-danger rotate-bubble"></div>
            <div class="bubble bubble-3 bubble-top-right bg-warning rotate-bubble"></div>
            <div class="bubble bubble-4 bubble-top-left bg-info rotate-bubble"></div>
            <div class="bubble bubble-5 bg-info rotate-bubble"></div>
            <div class="bubble bubble-6 bubble-bottom-right bg-danger rotate-bubble"></div>
            <div class="bubble bubble-7 bubble-top-right bg-success rotate-bubble"></div>
            <div class="bubble bubble-8 bubble-top-left bg-success rotate-bubble"></div>
            <div class="bubble bubble-9 bg-warning rotate-bubble"></div>
            <div class="bubble bubble-10 bg-danger rotate-bubble"></div>
            <div class="bubble bubble-11 bubble-bottom-right bg-info rotate-bubble"></div>
            <div class="bubble bubble-12 bubble-top-right bg-success rotate-bubble"></div>
            <div class="bubble bubble-13 bubble-top-left bg-success rotate-bubble"></div>
            <!--         circles -->
            <div class="circle circle-1 bg-light rotate-circle"></div>
            <div class="circle circle-2 bg-success rotate-circle"></div>
            <div class="circle circle-3 bg-danger rotate-circle"></div>
            <div class="circle circle-4 bg-info rotate-circle"></div>
            <div class="circle circle-5 bg-success rotate-circle"></div>
            <div class="circle circle-6 bg-info rotate-circle"></div>
            <div class="circle circle-7 bg-warning rotate-circle"></div>
            <div class="circle circle-8 bg-white rotate-circle"></div>
            <div class="circle circle-9 bg-warning rotate-circle"></div>
            <div class="circle circle-10 bg-danger rotate-circle"></div>
        </div>
        @RenderBody()
    </main>

    <footer class="footer footer-1 bg-light text-dark mt-5">
        <div class="container">
            <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
                Git 2020 All Rights Reserved
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
