.site-header .navbar-nav .nav-link {
    font-size: 1.1rem;
    color: #cbd5db;
    padding-right: 10;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
    text-decoration: underline;
}

.dropdown-menu {
    padding-right: 5rem !important;
    border-radius: 0px !important;
}

.dropdown-menu .nav-link {
    color: #000 !important;
    font-size: 0.9rem !important;
}

.dropdown-menu .nav-link:hover {
    background: #eee;
}