@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-white active h5" asp-controller="Cards" asp-action="Create">Add Card</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white active h5" asp-controller="Cards" asp-action="Collection">@User.Identity.Name Collection</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-danger active h5" asp-controller="Users" asp-action="Logout">Logout</a>
    </li>

}
else
{
    <li class="nav-item">
        <a class="nav-link text-white active h5" asp-controller="Users" asp-action="Login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white active h5" asp-controller="Users" asp-action="Register">Register</a>
    </li>

}