@page
@model WebApplication1.Pages.AddAddressModel
@{

    ViewData["Title"] = "Add Address";
}

<form  method="post">

    <label>Street:</label>
    <input asp-for="Address.Street" placeholder="@Model.Address.Street" />
    <label>Town:</label>
    <input asp-for="Address.Town" placeholder="@Model.Address.Town" />
    <label>Post Code:</label>
    <input asp-for="Address.PostCode" placeholder="@Model.Address.PostCode" />
    <button type="submit">Submit</button>
</form>
