@model UserRegisterBindingModel;
@{
    ViewData["Title"] = "Register";
}


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Register</h3>
            <form  asp-controller="Identity" asp-action="RegisterConfirm">
                <div class="mb-3">
                    <label asp-for="Username" class="form-label">Username</label>
                    <input type="text" class="form-control" asp-for="Username">
                                 </div>
                <div class="mb-3">
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label">Email</label>
                        <input type="text" class="form-control" asp-for="Email">
                    </div>
                    <div class="mb-3">

                        <label for="Password" class="form-label">Password</label>
                        <input type="password" asp-for="Password">
                    </div>
                    <div class="mb-3">

                        <label asp-for="ConfirmPassword" class="form-label">Confirm Passowrd</label>
                        <input type="password" asp-for="Password">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Remember me</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
</form>

        </div>

    </div>

</div>